.topheader-container {
  width: 100%;
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.topheader-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 24px;
  background: #f8f9fa;
  width: 95%;
  margin:0px auto;
}

/* Center Logo */
.topheader-center {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topheader-logo {
  object-fit: contain;
}

/* SOCIAL ICON CIRCLES */
.topheader-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* .topheader-right>a>.social-circle>img{
    width: 19px;
    height: 19px;
        border-radius: 2px;
} */
.social-circle {
  /* width: 40px;
  height: 40px; */
  /* background: #f1f5f9; */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease;
  cursor: pointer;
}

.social-circle:hover {
  background: #e2e8f0;
}

/* inside image */
/* .circle-img {
  width: 20px !important;
  height: 20px !important;
  object-fit: contain !important;
} */

/* LOGO BLINK */
/* .blinking-logo {
  animation: blink 1.5s infinite;
} */

/* @keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
} */
