.slider-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
.slider-wrapper {
  display: flex;
  height: 100%;
  transition: transform 0.4s ease-in-out; 
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide-image {
  /* object-fit: cover; */
  z-index: 1;
}

.slide-overlay {
  position: absolute;
  bottom: 50px;
  left: 40px;
  z-index: 2;
  color: #fff;
}

.slide-title {
  font-size: 32px;
  font-weight: bold;
}

.slide-button {
  background: #ffffff;
  color: #000;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}


.slider-btn {
  background: transparent !important;
  border: none !important;
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.slider-btn.left {
  left: 20px;
}

.slider-btn.right {
  right: 20px;
}


.slider-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: none;
}

.active-dot {
  background: white;
}

.slider-loading {
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
